/**
 * Theme Name:   Astra Child
 * Theme URI:    https://wpastra.com/
 * Description:  Tema hijo de Astra para OneOrbix - Personalizaciones personalizadas
 * Author:       OneOrbix
 * Author URI:   https://oneorbix.com
 * Template:     astra
 * Version:      1.0.0
 * License:      GNU General Public License v2 or later
 * License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 * Text Domain:  astra
 */

